Repository rkshaon/blog, pull requests merged in 2024-05, with the labels that each got.

#1 project initialized
  backend/README.md
  backend/requirements.txt
Labels: documentation

#2 project initialized
  .gitignore
  LICENSE
  README.md
Labels: documentation

#3 backend - project setup instruction
  backend/README.md
Labels: documentation

#18 frontend: project initialize
  .gitignore
  frontend/README.md
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.js
  frontend/vite.config.js
Labels: enhancement

#22 Backend: postman, user registration, login, profile (self and rest) with authorization.
  backend/blog/settings.py
  backend/docs/The Blog.postman_collection.json
  backend/requirements.txt
  backend/user_api/admin.py
  backend/user_api/models.py
  backend/user_api/serializers.py
  backend/user_api/urls/v1.py
  backend/user_api/views.py
Labels: enhancement, backend

#23 backend: user profile api, blog list api, access token expiry time
  .gitignore
  backend/blog/settings.py
  backend/blog/urls.py
  backend/blog_api/__init__.py
  backend/blog_api/admin.py
  backend/blog_api/apps.py
  backend/blog_api/models.py
  backend/blog_api/serializers.py
  backend/blog_api/tests.py
  backend/blog_api/urls/v1.py
  backend/blog_api/views.py
  backend/user_api/views.py
Labels: enhancement, backend

#24 backend: blog post, access token
  backend/blog/settings.py
  backend/blog_api/models.py
  backend/blog_api/serializers.py
  backend/blog_api/views.py
  backend/user_api/views.py
Labels: enhancement, backend

#26 create frontend_react app and update root gitignore file
  .gitignore
  frontend_react/README.md
  frontend_react/package-lock.json
  frontend_react/package.json
  frontend_react/public/favicon.ico
  frontend_react/public/index.html
  frontend_react/public/logo192.png
  frontend_react/public/logo512.png
  frontend_react/public/manifest.json
  frontend_react/public/robots.txt
  frontend_react/src/App.css
  frontend_react/src/App.js
  frontend_react/src/App.test.js
  frontend_react/src/index.css
  frontend_react/src/index.js
  frontend_react/src/logo.svg
  frontend_react/src/reportWebVitals.js
  frontend_react/src/setupTests.js
Labels: enhancement, frontend

#28 feat: user authentication refresh token
  backend/user_api/urls/v1.py
  backend/user_api/views.py
Labels: enhancement, backend

#29 org: reorganized project directory
  .gitignore
  frontend_vue/README.md
  frontend_vue/index.html
  frontend_vue/jsconfig.json
  frontend_vue/package-lock.json
  frontend_vue/package.json
  frontend_vue/public/favicon.ico
  frontend_vue/src/App.vue
  frontend_vue/src/assets/base.css
  frontend_vue/src/assets/logo.svg
  frontend_vue/src/assets/main.css
  frontend_vue/src/components/HelloWorld.vue
  frontend_vue/src/components/TheWelcome.vue
  frontend_vue/src/components/WelcomeItem.vue
  frontend_vue/src/components/icons/IconCommunity.vue
  frontend_vue/src/components/icons/IconDocumentation.vue
  frontend_vue/src/components/icons/IconEcosystem.vue
  frontend_vue/src/components/icons/IconSupport.vue
  frontend_vue/src/components/icons/IconTooling.vue
  frontend_vue/src/main.js
  frontend_vue/vite.config.js
Labels: frontend, rework

#30 feat and issue - blog archive
  backend/blog_api/models.py
  backend/blog_api/urls/v1.py
  backend/blog_api/views.py
  backend/user_api/views.py
Labels: enhancement, backend

#32 fixed: Blog archive #31
  backend/blog_api/views.py
Labels: enhancement, backend, rework

#33 feat: blog delete
  backend/blog_api/models.py
  backend/blog_api/urls/v1.py
  backend/blog_api/views.py
Labels: enhancement, backend

#34 feat: backend - blog, comment
  .gitignore
  backend/blog_api/admin.py
  backend/blog_api/models.py
  backend/blog_api/serializers.py
  backend/blog_api/urls/v1.py
  backend/blog_api/views.py
Labels: enhancement, backend
