Repository rkshaon/blog, pull requests merged in 2024-06, with the labels that each got.

#36 tailwind, layout and navber added
  frontend_react/package-lock.json
  frontend_react/package.json
  frontend_react/postcss.config.js
  frontend_react/src/App.css
  frontend_react/src/App.js
  frontend_react/src/components/Layout.js
  frontend_react/src/components/Navbar.js
  frontend_react/src/index.js
  frontend_react/tailwind.config.js
Labels: enhancement, frontend

#37 rework: backend
  .gitignore
  backend/blog/settings.py
  backend/blog/urls.py
  backend/blog_api/admin.py
  backend/blog_api/models.py
  backend/blog_api/serializers.py
  backend/blog_api/urls/v1.py
  backend/blog_api/views.py
  backend/comment_api/__init__.py
  backend/comment_api/admin.py
  backend/comment_api/apps.py
  backend/comment_api/models.py
  backend/comment_api/serializers.py
  backend/comment_api/tests.py
  backend/comment_api/urls/v1.py
  backend/comment_api/views.py
Labels: backend, rework

#38 Routing, leftsidebar and footer
  frontend_react/package-lock.json
  frontend_react/package.json
  frontend_react/src/App.js
  frontend_react/src/components/Blog.js
  frontend_react/src/components/Footer.js
  frontend_react/src/components/Home.js
  frontend_react/src/components/Layout.js
  frontend_react/src/components/LeftSidebar.js
  frontend_react/src/components/Navbar.js
  frontend_react/src/components/NotFound.js
  frontend_react/src/components/auth/SignIn.js
  frontend_react/src/components/auth/SignUp.js
Labels: enhancement, frontend

#40 fix: backend - cors header allow added
  backend/blog/settings.py
Labels: bug, enhancement, backend

#41 fix: backend - cors header allow added
  backend/blog/settings.py
Labels: backend

#42 sign in api integration
  backend/comment_api/__pycache__/__init__.cpython-310.pyc
  backend/comment_api/__pycache__/admin.cpython-310.pyc
  backend/comment_api/__pycache__/apps.cpython-310.pyc
  backend/comment_api/__pycache__/models.cpython-310.pyc
  backend/comment_api/__pycache__/serializers.cpython-310.pyc
  backend/comment_api/__pycache__/views.cpython-310.pyc
  backend/comment_api/urls/__pycache__/v1.cpython-310.pyc
  backend/rating_api/__pycache__/__init__.cpython-310.pyc
  backend/rating_api/__pycache__/admin.cpython-310.pyc
  backend/rating_api/__pycache__/apps.cpython-310.pyc
  backend/rating_api/__pycache__/models.cpython-310.pyc
  backend/rating_api/__pycache__/serializers.cpython-310.pyc
  backend/rating_api/__pycache__/views.cpython-310.pyc
  backend/rating_api/urls/__pycache__/v1.cpython-310.pyc
  frontend_react/package-lock.json
  frontend_react/package.json
  frontend_react/src/App.js
  frontend_react/src/components/Blog.js
  frontend_react/src/components/Home.js
  frontend_react/src/components/Layout.js
  frontend_react/src/components/LeftSidebar.js
  frontend_react/src/components/Navbar.js
  frontend_react/src/components/ProtectedRoute.js
  frontend_react/src/components/Spinner.js
  frontend_react/src/components/Spinner.module.css
  frontend_react/src/components/auth/SignIn.js
  frontend_react/src/components/auth/SignUp.js
  frontend_react/src/context/AuthContext.js
Labels: enhancement, frontend
